.env

node_modules

dist
dist-esm
src/util/output

deployment/docker/prod-build/.env
deployment/docker/prod/.env
deployment/docker/dev/.env

deployment/environment/.env
deployment/environment/.env.local
deployment/environment/.env.development
deployment/environment/.env.production

node_modules

dist
dist-esm
