.env

node_modules

dist
dist-esm
src/util/output

deployment/docker/prod-build/.env
deployment/docker/prod/.env
deployment/docker/dev/.env

deployment/environent/.env
deployment/environent/.env.local
deployment/environent/.env.development
deployment/environent/.env.production

node_modules

dist
dist-esm
